.mySvg {
  background-color: #ffc090;
}
#root {
  height: 100vh;
}
body,
#root,
.mySvg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  margin: 5px;
  height: 45px;
}
.container {
  margin-top: 50px;
  height: 70vh;
  width: 70vw;
  border: solid 1px black;
}

h4 {
  margin: 5px;
}
